.ball {
    
}
          
.ball {
    min-width: 32px !important;
    max-width: 32px !important;
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
    background-color: #2b87ff !important;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
    &:hover {
        background-image: linear-gradient(#ffffff37, #ffffff37) !important;
    }
}
    
@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 0.9;
    }
    to {
        transform: translate3d(0, 8px, 0);
        opacity: 0.6;
    }
}
/* Prefix Support */
    
.ball {
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: cubic-bezier(
    .5, 0.05, 1, .5);
    -webkit-animation-iteration-count: infinite;
}
    
@-webkit-keyframes bounce {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 8px, 0);
        transform: translate3d(0, 8px, 0);
    }
}