@import './Beacon.scss';

@mixin buttonMixin($backgroundColor, $color) {
    background: $backgroundColor !important;
    color: $color !important;
    fill: $color !important;
    * {
      color: $color;
      fill: $color;
    }

    &:hover {
        background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.25) 0, rgba(255, 255, 255, 0.25) 100%) !important;
    }
}
.button {
    background: var(--action-option);
    padding: 2px 12px;
    min-width: 56px;
    width: fit-content;
    border-radius: var(--round-small);
    min-height: 36px;
    max-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: 400;
    border: none;
    color: var(--light);
    transition: all 0.267s ease;
    &:hover {
      background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    }
    &.icon {
      width: fit-content;
      height: fit-content;
      min-width: fit-content;
      min-height: fit-content;
      border: none !important;
      padding: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .button.circle {
    width: fit-content;
    height: fit-content;
    max-width: 60px;
    max-height: 60px;
    padding: 8px;
    border-radius: 100%;
  }
  .button.primary {
    @include buttonMixin(var(--action-primary), white);
  }
  .button.transparent {
    background: transparent;
  }
  .button.secondary {
    @include buttonMixin(var(--action-secondary), white);
  }
  .button.option {
    @include buttonMixin(var(--action-option), white);
  }
  .button.success {
    @include buttonMixin(var(--action-success), white);
  }
  .button.info {
    @include buttonMixin(var(--action-info), white);
  }
  .button.warning {
    @include buttonMixin(var(--action-warning), white);
  }
  .background-transparent {
    background: transparent !important;
  }
  .button.Mui-disabled {
    color: var(--action-disabled) !important;
    background: var(--action-disabled) !important;
    cursor: not-allowed !important;
    pointer-events: none;
  }