.jdgd-input {
    position: relative;
    min-width: 120px;
    *, *::after, *::before {
        color: var(--input-label) !important;
        border-color: var(--input-border) !important;
    }
    &.MuiInput-underline::before {
        border-color: var(--input-border) !important;
    }
    .MuiFormLabel-root.Mui-focused {
        color: var(--input-label) !important;
    }
}