@keyframes lift {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2px);
    box-shadow: var(--tp-theme-shadow-light);
  }
}
@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes glitch {
  0% {
    box-shadow: 0 1px 4px var(--theme-primary), 0 1px 7px var(--theme-secondary);
    text-shadow: 0 1px 4px var(--theme-secondary), 0 1px 7px var(--theme-primary);
    color: var(--theme-secondary);
    fill: var(--theme-secondary);
  }
  100% {
    box-shadow: 0 1px 2px var(--theme-primary), 0 1px 3px var(--theme-secondary);
  }
}
@keyframes glitchIcon {
  0% {
    text-shadow: 0 1px 4px var(--theme-secondary), 0 1px 7px var(--theme-primary);
    color: var(--theme-secondary);
    fill: var(--theme-secondary);
  }
  100% {
    color: var(--theme-primary);
    fill: var(--theme-primary);
  }
}
@keyframes movementGlitch {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateX(5px);
  }
}
@keyframes fuzzGlitch {
  0% {
    text-shadow: 0 1px 4px var(--theme-secondary), 0 1px 6px var(--theme-primary);
  }
  50% {
    text-shadow: 0 1px 2px var(--theme-primary), 0 1px 4px var(--theme-primary);
  }
  100% {
    text-shadow: 0 1px 3px var(--theme-secondary), 0 1px 5px var(--theme-primary);
  }
}
@keyframes fadeSlideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeSlideDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeSlideLeft {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeSlideRight {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.Down {
  opacity: 0;
  animation: fadeSlideDown 0.167s forwards;
}
.Left {
  opacity: 0;
  animation: fadeSlideLeft 0.167s forwards;
}
.Up {
  opacity: 0;
  animation: fadeSlideUp 0.167s forwards;
}
.Right {
  opacity: 0;
  animation: fadeSlideRight 0.167s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeIn {
  animation: fadeIn 0.267s forwards ease;
}
.fadeOut {
  animation: fadeOut 0.267s forwards ease;
}

.slideZero {
  opacity: 0;
  animation: fadeSlideDown 0.567s forwards;
}
.slideOne {
  opacity: 0;
  animation: fadeSlideDown 0.567s forwards;
  animation-delay: 0.25s;
}
.slideTwo {
  opacity: 0;
  animation: fadeSlideDown 0.567s forwards;
  animation-delay: 0.5s;
}
.slideThree {
  opacity: 0;
  animation: fadeSlideDown 0.567s forwards;
  animation-delay: 0.75s;
}
.slideFour {
  opacity: 0;
  animation: fadeSlideDown 0.567s forwards;
  animation-delay: 1s;
}
.slideFive {
  opacity: 0;
  animation: fadeSlideDown 0.567s forwards;
  animation-delay: 1.25s;
}
.slideSix {
  opacity: 0;
  animation: fadeSlideDown 0.567s forwards;
  animation-delay: 1.5;
}
@keyframes spookySmoke {
  0% {
    box-shadow: 0 0 20px 10px #1bffc6,
      0 0 40px 5px #8bffe2, 0 0 80px 10px #57caad;
  }
  50% {
    box-shadow: 0 0 10px 0px #1bf0ff,
      0 0 70px 15px #8bfbff, 0 0 60px 5px #57c2ca;
  }
  100% {
    box-shadow: 0 0 20px 10px #1bffc6,
      0 0 40px 5px #8bffe2, 0 0 80px 10px #57caad;
  }
}
@keyframes creepyNav {
  0% {
    box-shadow: 0 0 12px 13px #0b002e, 0 0 20px 13px #12004a;
  }
  50% {
    box-shadow: 0 0 12px 13px #0b002e, 0 0 20px 13px #12004a;
  }
  100% {
    box-shadow: 0 0 12px 13px #0b002e, 0 0 20px 13px #12004a;
  }
}
@keyframes arcadeGlow {
  0% {
    box-shadow: 0 0 10px 0px var(--theme-secondary),
      0 0 50px 25px var(--theme-secondary), 0 0 40px 10px var(--theme-secondary);
  }
  50% {
    box-shadow: 0 0 20px 0px var(--theme-secondary),
      0 0 40px 35px var(--theme-secondary), 0 0 40px 10px var(--theme-secondary);
  }
  100% {
    box-shadow: 0 0 10px 0px var(--theme-secondary),
      0 0 70px 35px var(--theme-secondary), 0 0 60px 10px var(--theme-secondary);
  }
}
@keyframes spookyTextAbove {
  0% {
    text-shadow: 0 1px 14px var(--text-body),
      0 1px 16px var(--theme-secondary);
    transform: rotateZ(-1deg) translateY(-8px) translateX(-16px);
  }
  50% {
    text-shadow: 0 1px 6px var(--theme-primary),
      0 1px 6px var(--text-body);
    transform: rotateZ(-3deg) translateY(-8px) translateX(-16px);
  }
  100% {
    text-shadow: 0 2px 13px var(--text-body),
      0 1px 15px var(--theme-secondary);
    transform: rotateZ(-1deg) translateY(-8px) translateX(-16px);
  }
}
@keyframes spookyTextAboveMobile {
  0% {
    text-shadow: 0 1px 14px var(--text-body),
      0 1px 16px var(--theme-secondary);
  }
  50% {
    text-shadow: 0 1px 6px var(--theme-primary),
      0 1px 6px var(--text-body);
  }
  100% {
    text-shadow: 0 2px 13px var(--text-body),
      0 1px 15px var(--theme-secondary);
  }
}
@keyframes spookyTextTitle {
  0% {
    text-shadow: 0 1px 3px var(--text-body),
      0 1px 4px var(--theme-secondary);
  }
  50% {
    text-shadow: 0 1px 4px var(--theme-primary),
      0 1px 5px var(--text-body);
  }
  100% {
    text-shadow: 0 1px 3px var(--text-body),
      0 1px 4px var(--theme-secondary);
  }
}
@keyframes spookyTextLeft {
  0% {
    text-shadow: 0 1px 14px var(--text-body),
      0 1px 16px var(--theme-secondary);
    transform: rotateZ(-2deg) translateY(-56px) translateX(-56px);
  }
  50% {
    text-shadow: 0 3px 6px var(--theme-primary),
      0 1px 6px var(--text-body);
    transform: rotateZ(2deg) translateY(-56px) translateX(-56px);
  }
  100% {
    text-shadow: 0 2px 13px var(--text-body),
      0 1px 15px var(--theme-secondary);
    transform: rotateZ(-2deg) translateY(-56px) translateX(-56px);
  }
}
@keyframes spookyTextRight {
  0% {
    text-shadow: 0 1px 14px var(--text-body),
      0 1px 16px var(--theme-secondary);
    transform: rotateZ(-2deg) translateY(-56px);
  }
  50% {
    text-shadow: 0 3px 6px var(--theme-primary),
      0 1px 6px var(--text-body);
    transform: rotateZ(2deg) translateY(-56px);
  }
  100% {
    text-shadow: 0 2px 13px var(--text-body),
      0 1px 15px var(--theme-secondary);
    transform: rotateZ(-2deg) translateY(-56px);
  }
}
.slideHover {
  overflow: hidden;
  position: relative;
  &::before {
      content: "";
      position: absolute;
      height: 150px;
      width: 50px;
      background : var(--tp-theme-action);
      left: -55px;
      top: -40px;
      transform: rotate(37deg);
      transition: all .3s;
      opacity: 0.3;
  }
  &:hover::before {
      left:95%;
  }
}