$max-image-width: 64vh;
$max-image-height: 40vh;
.Resume,
.Contact {
  .dashboardImage {
    width: fit-content;
    height: max-content;
    max-width: $max-image-width;
    max-height: $max-image-height;
    border-radius: var(--round-large);
    box-shadow: var(--shadow-dark);
  }
  .card {
    max-width: 720px;
  }
  .button.secondary {
    font-size: 48px;
    padding: 20px 32px;
    min-height: 88px !important;
    margin-bottom: 156px;
  }
}
.line {
  background: #333;
  height: 3px;
  width: 70%;
  border-radius: 100%;
  margin: 12px 0 24px 0;
  box-shadow: var(--shadow-light);
}
.indent-bar {
  padding-left: 22px;
  border-left: 6px solid var(--input-border);
  transform: translateX(-22px);
  border-radius: var(--round-small);
}
.resume-card-icon {
  fill: var(--text-headline-secondary) !important;
  width: 32px !important;
  height: 32px !important;
}
.resume-link {
  width: 100%;
  padding: 32px;
  transition: all 0.267s ease;
  &:hover {
    background: var(--background-secondary);
    box-shadow: var(--shadow-dark);
    cursor: pointer;
    border-radius: var(--round-small);
    transform: translateY(-2px);
  }
}
.heroGradient {
  background: linear-gradient(
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.738) 19%,
    hsla(0, 0%, 0%, 0.541) 34%,
    hsla(0, 0%, 0%, 0.382) 47%,
    hsla(0, 0%, 0%, 0.278) 56.5%,
    hsla(0, 0%, 0%, 0.194) 65%,
    hsla(0, 0%, 0%, 0.126) 73%,
    hsla(0, 0%, 0%, 0.075) 80.2%,
    hsla(0, 0%, 0%, 0.042) 86.1%,
    hsla(0, 0%, 0%, 0.021) 91%,
    hsla(0, 0%, 0%, 0.008) 95.2%,
    hsla(0, 0%, 0%, 0.002) 98.2%,
    hsla(0, 0%, 0%, 0) 100%
  );
  height: 400px;
  width: 100%;
}
#threeD {
  opacity: 0;
  animation: fadeSlideDown 1.067s forwards;
  animation-delay: 1.5s;
  max-height: 240px;
  max-width: 80vw;
}
.titleContainer {
  text-align: center;
  flex-wrap: nowrap;
  min-height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  h1, .headline.one {
    opacity: 0;
    animation: fadeSlideDown 1.067s forwards;
    animation-delay: 0.5s;
  }
  h2, .headline.two {
    opacity: 0;
    animation: fadeSlideDown 1.067s forwards;
    animation-delay: 1s;
  }
}
.resume-list-container {
  .text-body {
    min-width: 160px;
    text-align: left;
  }
}
h1.text-headline {
  font-family: "Jura", sans-serif;
}
.spin {
  animation: spin 10s infinite ease;
}
.game-project-card {
  width: fit-content;
  max-width: 620px !important;
  img {
    align-self: center;
  }
}
@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@media only screen and (max-width: 1400px) {
  .hero-section.White {
    transform: scale(1.8);
  }
}
@media only screen and (max-width: 800px) {
  .hero-section.White {
    transform: scale(0.8);
  }
}
@media only screen and (max-width: 900px), screen and (max-height: 600px) {
  .hero-section.B,
  .hero-section.C {
    padding: 30% 0;
    height: auto;
  }
}
